* {
    margin: 0;
    padding:0;
    border:0;
    
}

.Logo {
    width: 100%;
    
}


.HeaderMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    background-color: #373D20;
    align-items: center;
    height: 180px;
    font-family: 'Jost', sans-serif;
}

.topNav {
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

a {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
}



.Hero {
    width: 90%;
    height: 70vh;
    background-image: url("Images/karsten-wurth-0w-uTa0Xz7w-unsplash.jpg");
    background-size: 100vw 70vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
    
       

    margin-bottom: 0px;

    text-align: center;
    /* vertical-align: middle; */
    
}

.heroContent {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2em;
    font-size: 2rem;
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}



.Hero > p {
    color: white;
}

/*footer*/
footer{
    background-color:#493B2A ;
}
.pad{
    padding: 5vw;
    font-family: 'Actor', sans-serif;
    display: flex;
    justify-content: space-between;
}

.fitem{
    padding-bottom: 5vh;
}

.contacts{
    display: flex;
    justify-content: space-between;
}
.contacts > img{
    width: 75px;
    height: 75px;
    position: relative;
    bottom: -90px;
}

.email-footerMain-fitem,
.phone-footerMain-fitem,
.address-footerMain-fitem {
    color: white;
    font-weight: bold;
    
}

/* Contributing page (about) */
.flexbox {
    display:flex;
    flex:wrap;
    font-family: 'Karma', serif;
}

.energy {
    width: 50%;
    background-color:#B1B695;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: auto;

}

.energy > h2 {
    text-align: center;
    font-size:80px;
    font-family: 'Alegreya Sans SC', sans-serif;
   
}

.energy-text {
    width:50%;
    background-color:#594F3B;
    
}

.energy-text p {
    margin-left: 10px;
    font-family: 'Karma', serif;
    font-size: 2em;
    line-height: 1.5;
    font-weight: bold;
}

.computer-img {
    width: 100%;
    width:30%;

    /* height: 86.8%; */
    height: 30%;
    
}

/* Get Involve page */


.flexbox {
    display: flex;
    font-family: 'Karma', serif;
}

.contribute {
    width: 100%;
    /* background-color: #B1B695; */
    font-family: 'Alegreya Sans SC', sans-serif;
}

.contribute > h2 {
    background-color:#B1B695;
    text-align: center;
    font-size: 80px;
    font-family: 'Alegreya Sans SC', sans-serif;
}


.contribute-text {
    width: 100%;
    /* background-color: #B1B695; */
    background-color: #394F49;
    display: flex;
    
}


.contribute-text p {
    margin-left: 11px;
    font-family: 'Karma', serif;
    font-size: 1em;
    line-height: 1.5;
    width: 49.5%;
    font-weight: bold;
   
    
}

.window-img {
    width: 100%;
    height: auto;
}


.panels-img {
width: 50%;

}
/* Moblie phone (iphone 11) */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.IDK {
    display:flex;
    justify-content:center;
    width:100%;
    height:100%;
    padding:15px;
    background-image: radial-gradient(#F5A452,#F5A452,#373D20,#373D20);
}

div .Logo {
    width:70px
    /* background-image: url(/Images/Rectangle\ 1\ \(1\).png) 0 0 no repeat; */
    /* width: 256px;
    height: 96px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; */
}

.HeaderMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #373D20;
    align-items: center;
    height: 180px;
    font-family: 'Jost', sans-serif;
}

.topNav {
    width: 70vw;
    display: flex;
    justify-content: space-around;
}

a {
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
}

.Hero {
    width: 100%;
    height: 70vh;
    background-image: url(Images/karsten-wurth-0w-uTa0Xz7w-unsplash.jpg);
    background-size: 100vw 70vh;

    display: flex;
    justify-content: none;
}

.heroContent {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2em;
    font-size: 2rem;
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}


.heroContent {
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 2em;
    font-size: 2rem;
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
}



.Hero > p {
    color: white;
}

/*footer*/
footer{
    background-color:#493B2A ;
}
.pad{
    padding: 5vw;
    font-family: 'Actor', sans-serif;
    display: flex;
    justify-content: space-between;
}

.fitem{
    padding-bottom: 5vh;
}

.contacts{
    display: flex;
    justify-content: space-between;
}
.contacts > img{
    width: 75px;
    height: 75px;
    position: relative;
    bottom: -90px;
}

.email-footerMain-fitem,
.phone-footerMain-fitem,
.address-footerMain-fitem {
    color: white;
    font-weight: bold;
    
}

/* Contributing page (about) */
.flexbox {
    display:flex;
    flex:wrap;
    font-family: 'Karma', serif;
}

.energy {
    width: 50%;
    background-color:#B1B695;
    font-family: 'Alegreya Sans SC', sans-serif;
    height: auto;

}

.energy > h2 {
    text-align: center;
    font-size:50px;
    font-family: 'Alegreya Sans SC', sans-serif;
   
}

.energy-text {
    width:50%;
    background-color:#594F3B;
    
}

.energy-text p {
    margin-left: 10px;
    font-family: 'Karma', serif;
    font-size: 1em;
    line-height: 1.5;
    font-weight: bold;
}

.computer-img {
    width:100%;

    height: inherit;
    
}

/* Get Involve page */


.flexbox {
    display: flex;
    font-family: 'Karma', serif;
}

.contribute {
    width: 100%;
    /* background-color: #B1B695; */
    font-family: 'Alegreya Sans SC', sans-serif;
}

.contribute > h2 {
    background-color:#B1B695;
    text-align: center;
    font-size: 80px;
    font-family: 'Alegreya Sans SC', sans-serif;
}


.contribute-text {
    width: 100%;
    /* background-color: #B1B695; */
    background-color: #394F49;
    display: flex;
    
}


.contribute-text p {
    margin-left: 11px;
    font-family: 'Karma', serif;
    font-size: 2em;
    line-height: 1.5;
    width: 49.5%;
    font-weight: bold;
   
    
}

.window-img {
    width: 100%;
    height: 87.7%;
}


.panels-img {
width: 50%;



