* {
    margin: 0;
    padding:0;
    border:0;
    
}

.Logo {
    width: 100px;
}


.HeaderMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;;
    background-color: #373D20;
    align-items: center;
    
    
}

.topNav {
    width: 70vw;

    display: flex;
    justify-content: space-around;
}

a {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-decoration: none;
}



.Hero {
    width: 100%;
    height: 70vh;
    background-image: url("Images/karsten-wurth-0w-uTa0Xz7w-unsplash.jpg");
    background-size: 100vw 70vh;

    display: flex;
    justify-content: center;
    align-content: center;

    margin-bottom: 0px;
}

.Hero > p {
    color: white;
}

/*footer*/
footer{
    background-color:#493B2A ;
}
.pad{
    padding: 5vw;
    font-weight:bold;
    display: flex;
    justify-content: space-between;
}

.fitem{
    padding-bottom: 5vh;
}

.contacts{
    display: flex;
    justify-content: space-between;
}
.contacts > img{
    width: 75px;
    height: 75px;
    position: relative;
    bottom: -90px;
}

.email-footerMain-fitem,
.phone-footerMain-fitem,
.address-footerMain-fitem {
    color: white;
}